<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %> - 부경위키</title>
</head>
<body>
    <header>
        <div class="left_menu">
            <h2 class="title2"><a href="/admin">관리자</a></h2>
            <nav>
                <ul>
                    <li class="head"><a href="/admin/users">유저</a></li>
                    <li class="head"><a href="/admin/documents">문서</a></li>
                </ul>
            </nav>
        </div>
        <div class="right_menu">
            <% if (locals.isLogin) { %>
                <a class="button" href="/logout">로그아웃</a>
            <% } else { %>
                <a class="button" href="/login">로그인</a>
            <% } %>

            <a class="button" href="/">메인 화면</a>
            
            <% if (locals.isAdmin) { %>
                <a class="button" href="/admin">관리자</a>
            <% } %>
        </div>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <p class="body2">footer 쓸만한 방침이 없습니다.</p>
    </footer>
</body>
</html>