<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %> - 부경위키</title>
</head>
<body>
    <header>
        <h1><a href="/">부경위키</a></h1>
        <nav>
            <ul>
                <li><a href="/recentChange">최근 변경</a></li>
                <li><a href="/realtimeSearch">실시간 검색 순위</a></li>
            </ul>
        </nav>
        <form action="/search" method="GET">
            <input name="query" type="text" placeholder="여기에서 검색">
            <input type="submit" value="검색">
        </form>
        <% if (locals.isLogin) { %>
            <a href="/logout">로그아웃</a>
        <% } else { %>
            <a href="/login">로그인</a>
        <% } %>
        <hr>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <hr>
        footer 쓸만한 방침이 없습니다.
    </footer>
</body>
</html>