<h1><%= locals.title %></h1>

<form action="/create/<%= locals.title %>" method="POST">
    <label for="body"><b>내용</b></label>
    <textarea name="body" id="body" cols="50" rows="10" placeholder="게시물 내용"></textarea>

    <input type="submit" value="등록">
</form>