<div class="index">
    <h1 class="title1">부경위키 대문</h1>

    <p class="body">
        부경위키 대문입니다. <br> <br>
        부경위키는 기본적으로 마크다운 문법을 사용합니다. <br>
        한 가지 더 특수한 문법으로 [[문서]] 사용 시 부경위키에 있는 문서로 링크가 만들어 집니다.
    </p>
</div>
