<div class="login">
    <h1 class="title1">로그인</h1>
    <form action="/login" method="POST">
        <lable for="id" class="body">아이디</lable>
        <input class="input" type="text" name="id" id="id" required>
        
        <lable for="password" class="body">비밀번호</lable>
        <input class="input" type="password" name="password" id="password" required>
        
        <button class="button" type="submit">로그인</button>
    </form>

    <div><a class="body2" href="/join">회원가입</a></div>
</div>

<% if ( err ) { %>
    <script>
        alert('<%= err %>');
    </script>
<% } %>