<div class="document">
    <h1 class="title1 header"><%= locals.title %></h1>
    <p class="body">
        <%= locals.title %> 문서가 존재하지 않습니다.  <br> <br>
        <a class="link" href="/edit/<%= locals.title %>">여기</a>에서 새로운 문서를 만들 수 있습니다.
    </p>
</div>